@charset "utf-8";
/* CSS Document */


/*----------General----------*/
html, body {
	width: 100%;	

}

ul {
	display: block;
	padding: 0;
	margin: 0;
}

h2 {
	margin: 0 0 10px 0;	
}

/*----------Map----------*/
#map2 {
	display: inline-block;
	margin: 0;
	padding: 0 30px;
}

.map {
	display: inline-block;
}

/*----------Branches----------*/

.branches {
	display: inline-block;
	/*width: 200px;*/
	vertical-align: top;
	padding: 20px;
	background-color: #1a1a1a;
	color: #fff;

}

.branches ul {
	list-style-position: inside;	
}

.branches a {
	text-decoration: none;
	line-height: 32px;
	color: #fff;
}

.branches a:hover {
	text-decoration: underline;
}

.branches li{
	padding-left: 15px;
}

.loc-1 {
	list-style-image:url(../images/bullet1.png);	
}

.loc-2 {
	list-style-image:url(../images/bullet2.png);	
}

.loc-3 {
	list-style-image:url(../images/bullet3.png);	
}

.loc-4 {
	list-style-image:url(../images/bullet4.png);	
}

.loc-5 {
	list-style-image:url(../images/bullet5.png);	
}

.loc-6 {
	list-style-image:url(../images/bullet6.png);	
}

.loc-7 {
	list-style-image:url(../images/bullet7.png);	
}

.loc-8 {
	list-style-image:url(../images/bullet8.png);	
}

