\rules only filteredtranscludeinline transcludeinline filterdtransclude transclude macrocallinline macrocallblock
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>{{!!pagetitle}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    {{Allstar Interiors CSS||$:/core/templates/plain-text-tiddler}}
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="apple-touch-icon" sizes="57x57" href="../images/allstar_interiors/logos/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../images/allstar_interiors/logos/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../images/allstar_interiors/logos/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../images/allstar_interiors/logos/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../images/allstar_interiors/logos/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../images/allstar_interiors/logos/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../images/allstar_interiors/logos/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../images/allstar_interiors/logos/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../images/allstar_interiors/logos/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../images/allstar_interiors/logos/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/allstar_interiors/logos/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../images/allstar_interiors/logos/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/allstar_interiors/logos/favicon-16x16.png">
	<link rel="manifest" href="../images/allstar_interiors/logos/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../images/allstar_interiors/logos/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="icon" type="image/png" href="../images/allstar_interiors/logos/favicon.png">
	<link rel="shortcut icon" href="../images/allstar_interiors/logos/favicon.png">
	<!--------FORM -------------------------->
	<!--<link href="https://allstarfg.actonservice.com/acton/form.css" rel="stylesheet" type="text/css">-->
	<link href="https://allstarfg.actonservice.com/acton/formNegCap.css" rel="stylesheet" type="text/css">
	<script src="https://allstarfg.actonservice.com/acton/form/16472/005d/form.js" type="text/javascript">
	</script>
	{{Allstar Interiors Contact Form JS||$:/core/templates/plain-text-tiddler}}
	{{SchemaAllstarInteriors||$:/core/templates/plain-text-tiddler}}
</head>
<body id="page-top" class="index ai">
    {{Allstar Interiors Navigation||$:/core/templates/html-tiddler}}
	{{||$:/core/templates/html-tiddler}}   
	{{Allstar Interiors Footer||$:/core/templates/html-tiddler}}
    <!-- jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js"></script>
    {{cbpAnimatedHeader JS||$:/core/templates/plain-text-tiddler}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animated-header/0.0.1/js/cbpAnimatedHeader.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.7/jqBootstrapValidation.min.js"></script>
    {{Contact Me JS||$:/core/templates/plain-text-tiddler}}
    <!-- Custom Theme JavaScript -->
    {{Agency JS||$:/core/templates/plain-text-tiddler}}
    <!-- Act On Form Submit -->
	{{Allstar Interiors Contact Validation||$:/core/templates/plain-text-tiddler}}
	{{Allstar Interiors Form Submit JS||$:/core/templates/plain-text-tiddler}}
	{{JS Add Tab Active Class Nav||$:/core/templates/plain-text-tiddler}}
    {{Allstar Interiors Perma Nav JS||$:/core/templates/plain-text-tiddler}}
    {{Allstar Interiors Google Analytics||$:/core/templates/plain-text-tiddler}}
</body>
</html>